@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  text-align: center;
  overflow: scroll;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

  .bg-met {
    background-color: #e4002b;
  }
  .bg-met-dark {
    background-color: #6e182e;
  }
  .border-met {
    border-color: #e4002b;
  }
}